
@font-face{
  font-family: lakeShore;
  src: url('Lakeshore-Regular.otf');
}
html, body {
    height: 100%;
    width: 100%;
    background: black;
    color: rgb(57, 137, 253)
    font-family: lakeShore;
   }
.ninjaFont{
  font-family: lakeShore;
  color: rgb(57, 137, 253);
}


.col-sm-6 text-center"{

}

  /* padded section */
  .pad-section {
    padding: 50px 0;
  }
  .pad-section img {
    width: 100%;
  }
  /* vertical-centered text */
  .text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  /* additional sections */
  .kenjiSection {
    background: url(video_games-149636.jpg!d) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .kenjiStylesh1{
    color: hsla(226, 71%, 48%, 0.85);
    font-size: 125px;
  }
  .kenjiStyles h3{
    color:hsla(226, 71%, 48%, 0.85);
    font-size: 75px;
  }
  .kenjiStyles h5{
    color:hsla(226, 71%, 48%, 0.85);
    font-size: 45px;

  }
  
  #services {
    background-color:rgb(19, 19, 19);
    color: rgb(58, 58, 91)
  }
  .gyojin{
    background-color: rgba(29, 29, 31,.67)(29, 29, 31,.67)\\\;
  }
  #information .panel {
    opacity: 0.85;
  }
  #google_map {
    height: 500px;
  }
  footer {
    padding: 20px 0;
  }
  footer .glyphicon {
    color: #333333;
    font-size: 60px;
  }
  footer .glyphicon:hover {
    color: #306d9f;
  }
  .myNavIcon{

    background-image:url("dragonButton.jpeg");
    background-size: contain;
    height:50px;
    width:50px;
   
    border-radius: 100%
  }
  .pokemonWayButton{

    background-image: url("dragonTiger.jpeg");
    background-size: contain;
    height:150px;
    width:150px;
   
   
    border-radius: 100%
    
  }

  .manWayButton{

    background-image: url("fart_header.jpg");
    background-size: contain;
    background-position: center;
    height:150px;
    width:150px;
   
   
    border-radius: 100%
    
  }
  .harmonyWayButton{

    background-image: url("dragonSamurai.jpg");
    background-size:contain;
    background-position: center;
    
    height:150px;
    width:150px;
    background-repeat: no-repeat;
   
    border-radius: 100%
    
  }
  .dominanceWayButton{

    background-image: url("dragonTiger.jpeg");
    background-size: contain;
    height:150px;
    width:150px;
    background-repeat: no-repeat;
   
    border-radius: 100%
    
  }
  .philosophy{
    background: grey;
    margin: none;
    width:100%;

  }
  